*{
    box-sizing: border-box;
    font-size: 14px;
}
body{
    background-color: burlywood;
    color: black;
}

.header h1, p{
    text-align: center;
    font-size: 16px;
}

.header h1{
    color: red;
    font-size: 21px;
}

.header{
    color: rebeccapurple;
    font-family: cursive;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    font-size: 18px;
    display: inline-block;
    color: white;
    padding: 13px 16px;
    text-align: center;
    text-decoration: none;
}
img {
    margin-top: 6px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 0; 
    
}
.pic {
    border: 1px solid black;
    margin: 5px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    background-color: whitesmoke;
    float: left;
    
}
.pic:hover{
    
    box-shadow: 0 3px 14px grey;
}

.pic p{
    color: whitesmoke;
    font-size: 14px;
    font-family: cursive;
    margin: 5px;
    background-color: black;
    border-top: 2px solid grey;
    text-transform: capitalize;
    
}

li a:hover {
    background-color: aliceblue;
    color: black;
    box-shadow: 0 0 12px brown;
}
